@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #09090b;
    /* Zinc 950 */
    --foreground: #fafafa;
    /* Zinc 50 */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bloom {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 100;
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.animate-bloom {
  animation: bloom 3s ease-out forwards;
}

.animate-draw {
  stroke-dasharray: 100;
  animation: draw 2s ease-out forwards;
}